@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  @apply bg-[#FFf7F8] w-full h-[100px];
}

.container {
  @apply max-w-full w-[1440px] mx-auto px-5 lg:px-14;
}

.slick-dots {
  margin-bottom: -1.25rem;
}

@layer components {
  .navbar-shadow {
    box-shadow: 3px 3px -8px #ddd;
  }
}

@layer base {
  .sticky-navbar {
    @apply w-full h-[80px] leading-[80px] sticky top-0 left-0 z-[9999] navbar-shadow transition-all duration-300;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }
  section {
    @apply py-[35px];
  }

  .navigation {
    @apply w-full h-full fixed top-0 left-0 z-[100] bg-[#00000084] hidden;
  }

  .menu {
    @apply w-[15rem] h-full top-0 right-0 absolute bg-[#FFf7F8] z-[200] flex flex-col  items-center justify-center leading-[30px];
  }

  .show-menu {
    @apply block;
  }
}
